USE [master]
GO
/****** Object:  Database [PicoyPlaca]    Script Date: 23/1/2025 18:54:48 ******/
CREATE DATABASE [PicoyPlaca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PicoyPlaca', FILENAME = N'/var/opt/mssql/data/PicoyPlaca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PicoyPlaca_log', FILENAME = N'/var/opt/mssql/data/PicoyPlaca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PicoyPlaca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PicoyPlaca]
GO
/****** Object:  Table [dbo].[Prueba]    Script Date: 23/1/2025 18:54:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prueba](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nchar](10) NOT NULL,
	[Hora] [time](3) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Resultado] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Prueba] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Prueba] ON 

INSERT [dbo].[Prueba] ([Id], [Placa], [Hora], [Fecha], [Resultado]) VALUES (1, N'PBD-3349  ', CAST(N'17:00:00' AS Time), CAST(N'2025-01-24' AS Date), N'No                                                ')
INSERT [dbo].[Prueba] ([Id], [Placa], [Hora], [Fecha], [Resultado]) VALUES (2, N'PBS-3321  ', CAST(N'08:00:00' AS Time), CAST(N'2025-01-23' AS Date), N'Sí                                                ')
INSERT [dbo].[Prueba] ([Id], [Placa], [Hora], [Fecha], [Resultado]) VALUES (3, N'PSD-3421  ', CAST(N'10:00:00' AS Time), CAST(N'2025-01-23' AS Date), N'Sí                                                ')
SET IDENTITY_INSERT [dbo].[Prueba] OFF
GO
USE [master]
GO
